  main {
    min-height: calc(100vh - 160px);
  }

#contenedor {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 18px;
  margin: 20px auto; 
  max-width: 1200px;
}

textarea {
  width: 100%;
}

.prueba {
  border: rgb(147, 147, 147) 2px solid;
  width: 400px;
  padding: 10px;
}
.prueba img {
  width: 376px;
  height: 220px;
  display: block;
  margin: auto;
}
